@model IEnumerable<BitproKeyGen.Models.KeyRequest>

@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h3>License Requests</h3>

<table class="table table-striped " id="myTable" style="width:100%">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ShopName)*@
                SHOP NAME
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ShopContactNo)*@
                CONTACT NO
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Duration)*@
                DURATION
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.RequestedDate)*@
                REQUESTED DATE
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ApprovedDate)*@
                APPROVED DATE
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Status)*@
                STATUS
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShopName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShopContactNo)
                </td>
                <td>
                    @if (item.Duration == 730)
                    {
                        @("2 Year");
                    }
                    else if (item.Duration == 365)
                    {
                        @("1 Year");
                    }
                    else if (item.Duration == 183)
                    {
                        @("6 Month");
                    }
                    else
                    {
                        @("Trial");
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestedDate)
                </td>
                <td>
                    @if (item.ApprovedDate < new DateTime(2018, 1, 1))
                    {
                         @("");
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.ApprovedDate)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>



                    @if (item.Status == "Approved")
                    {
                        <a class="btn btn-info" asp-action="AdminDetails" asp-route-id="@item.Id">Details</a>
                    }

                    @if (item.Status == "Rejected")
                    {
                 
                        <a class="btn btn-info" asp-action="AdminDetails" asp-route-id="@item.Id">Details</a>
                    }

                    @if (item.Status == "Pending")
                    {
             
                        <a class="btn btn-info" asp-action="AdminDetails" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-success" asp-action="AdminApprove" asp-route-id="@item.Id">Approve</a>
                        <a class="btn btn-danger" asp-action="AdminReject" onclick="Reject()" asp-route-id="@item.Id">Reject</a>
                    }



                </td>
            </tr>
        }
    </tbody>
</table>



<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    function Reject() {

        alert("Request is Rejected");
  
    }

</script>