@model IEnumerable<BitproKeyGen.Models.KeyRequest>

@{
    ViewData["Title"] = "Index";

}

<h3>License Requests</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped " id="myTable" style="width:100%">
    <thead>
        <tr>
            <th>
                SHOP NAME
            </th>
            <th>
                CONTACT NO
            </th>
            <th>
                DURATION
            </th>
            <th>
                REQUESTED DATE
            </th>
            <th>
                STATUS
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShopName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShopContactNo)
                </td>
                <td>
                    @if (item.Duration == 730)
                    {
                        @("2 Year");
                    }
                    else if (item.Duration == 365)
                    {
                        @("1 Year");
                    }
                    else if (item.Duration == 183)
                    {
                        @("6 Month");
                    }
                    else
                    {
                        @("Trial");
                    }
                    @*@Html.DisplayFor(modelItem => item.Duration)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (item.Status == "Pending")
                    {
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
               
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>
